/*=================================================================
  Basic Setup
==================================================================*/
::-moz-selection {
    /* Code for Firefox */
    color: #061a00;;
    background: #66ff33;
}

::selection {
    color: #061a00;
    background: #66ff33;
}

a:focus,
a:hover {
  color: #66ff33;
}

.btn {
    color: #66ff33;
    border-radius: 50px;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: #66ff33;
  border: 1px solid transparent;
  color: #061a00;
}

.hero-area .block .btn-transparent {
    border-color: #66ff33;
}

.border-meghna:before {
    background-color: #66ff33;
}

.btn-main {
background: transparent;
color: #66ff33;
border-color: #4e595f;
display: inline-block;
font-size: 14px;
letter-spacing: 1px;
padding: 10px 35px;
text-transform: uppercase;
}

.btn-main:hover {
background: #66ff33;
color: #000000;
}

.title h2 span {
    color: #66ff33;
}

.sk-cube-grid .sk-cube {
background-color: #66ff33;
}

.hpot {
  display: none;
}
/*=================================================================
  Navigation
==================================================================*/
.navigation .navigation-menu li a.active {
    color: #66ff33;
}

.navigation .navigation-menu li a:hover,
.navigation .navigation-menu li a:focus {
  background: transparent;
  color: #bebebe;
}

/*=================================================================
  About us section
==================================================================*/
.about .block:hover {
    border-bottom: 2px solid #66ff33;
}

/*=================================================================
  About us 2 section
==================================================================*/
.about-2 .content-block .media i {
    color: #66ff33;
}

/*=================================================================
  Our Team
==================================================================*/
.team-member:hover .mask {
    cursor: auto;
    -webkit-transform: none;
    transform: none;
}

.member-photo .mask {
    background-color: transparent;
    transition: none;
    -webkit-transform: none;
    transform: none;
}

/*=================================================================
  Pricing section
==================================================================*/
.price-title h3 {
    color: #66ff33;
}

.price-title .value {
color: #66ff33;
}

/*=================================================================
 Contact section
==================================================================*/
.form-meghna input:hover,
.form-meghna textarea:hover,
#contact-submit:hover {
  border-color: #66ff33;
}

#contact-submit {
    background: #66ff33;
    color: #000000
}

/*=================================================================
 Footer section
==================================================================*/
.social-icon ul li:hover a {
  background-color: #66ff33;
}