{{ if .Site.Data.events.enable}}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="events" class="section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="col-lg-12">
                <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.events.heading }} {{ . }} {{ end }}<span class="color"> {{ with .Site.Data.events.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            <div class="col-lg-12 col-md-6 col-12 mx-auto py-4 text-center wow fadeInUp" data-wow-duration="200ms">
                <!-- Ticket Tailor Widget. Paste this in to your website where you want the widget to appear. Do no change the code or the widget may not work properly. -->
                <div class="tt-widget"><div class="tt-widget-fallback"><p><a href="https://www.tickettailor.com/all-tickets/rivercitylabs/ref/website_widget/" target="_blank">Click here to buy tickets</a><br /><small><a href="https://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://media.tickettailor.com/js/widgets/min/tt-widget.js" data-url="https://www.tickettailor.com/all-tickets/rivercitylabs/ref/website_widget/" data-type="inline" data-inline-minimal="false" data-inline-show-logo="true"  data-inline-bg-fill="true"></script></div>
                <!-- End of Ticket Tailor Widget -->
            </div>

            <div class="col-lg-12 col-md-6 col-12 mx-auto text-center wow fadeInUp" data-wow-duration="200ms">
                <!-- RCL Google Calendar widget  -->
                <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&showTitle=0&showDate=1&showTabs=0&showCalendars=0&showNav=1&src=cml2ZXJjaXR5bGFiQGdtYWlsLmNvbQ&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342&color=%237986CB" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                <!-- End of RCL Google Calendar widget -->
            </div>
        </div>
    </div>
</section>
{{"<!-- /events -->" | safeHTML}}
{{ end }}
